@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './prism.css';

@layer base {
    [inert] ::-webkit-scrollbar {
        display: none;
    }
}

.markdown-img {
    @apply relative flex flex-col container mx-auto;
}

.markdown-img img {
    @apply mb-1;
}

