@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./prism.css";

:root {
  --fonts: "Inter", -apple-system, BlinkMacSystemFont, Roboto, Cantarell,
    Fira Sans, Droid Sans, sans-serif;
}

* {
  box-sizing: border-box;
  transition: background-color 350ms ease-in;
}

html {
  scroll-behavior: smooth;
  height: 100%; /*Fix transition bug*/
}

html,
body {
  @apply p-0 m-0 bg-base text-on-base w-full;
  font-family: var(--fonts);
}

#__next {
  width: 100%;
  height: 100%;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: var(--fonts);
}

.input-group > input:focus ~ span {
  color: var(--primary-DEFAULT);
}

.w-fit {
  width: fit-content;
}

.header-tab {
  @apply p-0 m-0 list-none inline-flex;
}

.tab-container::-webkit-scrollbar {
  @apply bg-transparent;
  height: 1px;
  width: 5px;
}

/* Track */
.tab-container::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
.tab-container::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

/* Handle on hover */
.tab-container::-webkit-scrollbar-thumb:hover {
  @apply bg-transparent;
}

.header-tab > li {
  @apply relative cursor-pointer;
}

.inkbar {
  @apply bg-transparent absolute bottom-0 left-0 w-full;
  height: 2px;
  transition: all 175ms cubic-bezier(0.71, 0.39, 0.47, 0.85);
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.inkbar {
  @apply bg-primary;
}
