@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./markdown.css";
@import "./prism.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap");

:root {
  --fonts: "Inter", -apple-system, BlinkMacSystemFont, Roboto, Cantarell,
    Fira Sans, Droid Sans, sans-serif;
}

html,
body {
  @apply p-0 m-0 bg-base text-on-base;
  font-family: var(--fonts);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: var(--fonts);
}

.input-group > input:focus ~ span {
  color: var(--primary-DEFAULT);
}
