@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./transitions.css";
@import "./input.css";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: 0;
}

html {
  min-height: 100%;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

html,
body,
#root {
  @apply bg-base-dark text-dark-light;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

.h-fit {
  height: fit-content;
}

.img-responsive {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.circonf {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid silver;
  animation: circ-anim 0.7s linear infinite;
}

.circonf-2 {
  border-color: grey;
  border-bottom-color: transparent;
}

@keyframes circ-anim {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

pre {
  @apply my-8;
}

.w-fit {
  width: fit-content;
}